<div class="lookup-form">
  <mat-form-field>
    <mat-label>Firstname</mat-label>
    <input
      matInput
      placeholder="Firstname"
      [(ngModel)]="service.userDetails.firstname"
      name="firstname" />
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Lastname</mat-label>
    <input
      matInput
      placeholder="Lastname"
      [(ngModel)]="service.userDetails.lastname"
      name="lastname" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Gender</mat-label>
    <input
      matInput
      placeholder="Gender"
      [(ngModel)]="service.userDetails.gender"
      name="gender" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Date of birth</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      type="date"
      [(ngModel)]="service.userDetails.dateOfBirth"
      name="dob" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Postcode</mat-label>
    <input
      matInput
      placeholder="Postcode"
      [(ngModel)]="service.userDetails.postcode"
      name="postcode" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>National Insurance Number</mat-label>
    <input
      matInput
      placeholder="National Insurance No."
      [(ngModel)]="service.userDetails.nationalInsurance"
      name="NI" />
  </mat-form-field>
  <mat-checkbox [(ngModel)]="service.userDetails.consentForUnspecifiedDataUsage">
    I consent to my informatioin being used.
  </mat-checkbox>
  <div>
    <button
      mat-stroked-button
      (click)="service.lookup()">
      Find pensions
    </button>
  </div>
</div>
