/* You can add global styles to this file, and also import other style files */
body {
  // background: #333;
  margin: 0;
  padding: 0 64px;
  position: relative;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
