<div class="lookup">
  <mat-card>
    <app-pension-lookup-form *ngIf="service.lookupState === 'unstarted'"></app-pension-lookup-form>
    <app-pension-lookup-progress *ngIf="service.lookupState === 'submitted'"></app-pension-lookup-progress>
    <app-pension-lookup-results *ngIf="service.lookupState === 'complete'"></app-pension-lookup-results>
  </mat-card>
</div>